@model IEnumerable<drugaApka.Models.USERS>
<p><h2>Wpłata w następnym miesiącu</h2></p>

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Imię i Nazwisko</th>
            <th>Za miesiąc</th>
            <th>Wpłata do dnia</th>
            <th>Kwota wpłaty</th>
            <th>Wpłacone</th>
            <th>Saldo</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.firstName  @item.lastName
                </td>
                <td>
                    kwiecien
                </td>
                <td>
                    04.@DateTime.Now.Date.ToString("MM").2017
                  </td>
  
                  <td>
                      400
                  </td>
                      @if (item.PAYS.LastOrDefault().date.Month == DateTime.Now.Month)
                      {
                          <td>tak</td>
                      }
                      else
                      {
                          <td>nie</td>
                      }
                  <td>
                      1000
                  </td>
  
              </tr>
        }
    </table>