@{
    ViewBag.Title = "Home Page";
}
<table width="100%" cellspacing="0" cellpadding="10">
    <tr>
        <td bgcolor="#00C0F0" colspan="2" align="center" valign="middle"><b>Wynajem mieszkania</b></td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>imie</th>
            <th>nazwisko</th>
        </tr>
    </thead>
    <tr>
        <th>1</th>
        <th>Maciej</th>
        <th>Cebula</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Maciej</th>
        <th>Cebula</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Maciej</th>
        <th>Cebula</th>
    </tr>
</table>