@{
    ViewBag.Title = "Home Page";
}
<table width="100%" cellspacing="0" cellpadding="10">
    <tr>
        <td bgcolor="#00C0F0" colspan="2" align="center" valign="middle"><b>Wynajem mieszkania</b></td>
    </tr>
</table>

<div class="form-group">
    <label for="month" class="col-sm-2 control-label">Miesiąc</label>
    <div class="col-sm-10">
        <select class="form-control" name="month">
            <option id="1">Styczeń | Luty</option>
            <option>Luty</option>
            <option>Marzec</option>
            <option>Kwiecień</option>
            <option>Maj</option>
            <option>Czerwiec</option>
            <option>Lipiec</option>
            <option>Sierpień</option>
            <option>Wrzesień</option>
            <option>Październik</option>
            <option>Listopad</option>
            <option>Grudzień</option>
        </select>
    </div>
</div>