@{
    ViewBag.Title = "Home Page";
}

<table width="100%" cellspacing="0" cellpadding="10">
    <tr>
        <td bgcolor="#00C0F0" colspan="2" align="center" valign="middle">Komis Samochodowy - Szybko, tanio, wygodnie!</td>
    </tr>
    <tr>
        <td bgcolor="#0020E0" width="150" valign="top">
            @Html.ActionLink("Dodaj samochód", "Add", "ManageCars")
        </td>
        <td bgcolor="white" valign="middle" rowspan="3" align="center">

            <p>Strona do nauki ASP.NET !</p>
            
        </td>
    </tr>
    <tr>
        <td bgcolor="#0020E0" width="150" valign="top">
            @Html.ActionLink("Szukaj samochodu", "Search", "ManageCars")
        </td>
    </tr>
    </tr>
    <tr>
        <td bgcolor="#0020E0" width="150" valign="top">
            @Html.ActionLink("Wyświetl wszystkie", "View", "ManageCars")
        </td>
    </tr>
</table>