@{
    ViewBag.Title = "Home Page";
}

<table width="100%" cellspacing="0" cellpadding="10">
    <tr>
        <td bgcolor="#00C0F0" colspan="2" align="center" valign="middle">Wynajem mieszkania</td>
    </tr>
    <tr>
        <td bgcolor="#0020E0" width="150" valign="top">
            @Html.ActionLink("Wpłaty", "PayMoney", "RentFlat")
        </td>
        <td bgcolor="white" valign="middle" rowspan="2" align="center">

            <p>Cos tu bedzie</p>
            
        </td>
    </tr>
    <tr>
        <td bgcolor="#0020E0" width="150" valign="top">
            @Html.ActionLink("Wydatki", "Expenses", "RentFlat")
        </td>
    </tr>
</table>