
@{
    ViewBag.Title = "Dodaj samochód";
}

<p><h2>Dodaj Samochód</h2></p><br />

<form >
    <p><strong>Marka: </strong><input type="text" name="marka"/>
    <strong>Model: </strong><input type="text" name="model"/>
    <strong>Rok produkcji: </strong><input type="text" name="rok"/></p>
    <p align="left"><button type="submit">Wyślij</button></p>
</form>

