
@{
    ViewBag.Title = "Szukaj";
}

<h2>Szukaj</h2>

<form>
    <p>
        <strong>Marka: </strong><input type="text" name="marka" />
        <strong>Model: </strong><input type="text" name="model" />
        <strong>Rok produkcji: </strong><input type="text" name="rok" />
    </p>
    <p align="left"><button type="submit">Szukaj</button></p>
</form>

