
@{ 
    ViewBag.Title = "Dodaj do bazy";
}

<h2>Dodaj dane do bazy danych</h2>

<div class="container">
    <div class="list-group">
        <a href="~/AddData/AddExpense" class="list-group-item">
            <h4 class="list-group-item-heading">Wydatki</h4>
            <p class="list-group-item-text">Dodaj wydatek do bazy danych</p>
        </a>
        <a href="~/AddData/AddExtraExpense" class="list-group-item">
            <h4 class="list-group-item-heading">Dodatkowe Wydatki</h4>
            <p class="list-group-item-text">Dodaj nazwę i cenę kolejnego dodatkowego wydatku</p>
        </a>
        <a href="~/AddData/AddPay" class="list-group-item">
            <h4 class="list-group-item-heading">Wpłaty</h4>
            <p class="list-group-item-text">Dodaj nowe wpłaty od użytkowników do bazy</p>
        </a>

    </div>
</div>
