
@{
    ViewBag.Title = "Szczegóły wydatków";
}

<h2>Czego szukasz ?</h2>

<form>
    <p>
        <pre><strong>Miesiąc: </strong><input type="text" name="miesiac" />      <strong>Data zapłaty [dd.mm.yyyy]: </strong><input type="text" name="data" /></pre>
    </p>
    <p align="left"><button type="submit">Szukaj</button></p>
</form>

